LANGUAGE RES_LANG, RES_SUBLANG

/* Taskbar page */
IDD_TB DIALOGEX 0, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_PAGE
CAPTION S_TB
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

/*GROUPBOX S_TB_TB, IDC_STATIC, 7, 5, PAGE_WIDTH - 14, 137*/
AUTOCHECKBOX S_TB_LOCK, IDC_TB_LOCK, 7, 8, 200, 10 
AUTOCHECKBOX S_TB_AUTOHIDE, IDC_TB_AUTOHIDE, 7, 22, 200, 10
AUTOCHECKBOX S_TB_SMALLBUTTONS, IDC_TB_SMALLBUTTONS, 7, 36, 200, 10
/*AUTOCHECKBOX S_TB_BADGES, IDC_TB_BADGES, 7, 58, PAGE_WIDTH - 26, 10*/
LTEXT S_TB_LOCATION, IDC_STATIC, 7, 53, 100, 10
COMBOBOX IDC_TB_LOCATION, 112, 50, 110, 14, CBS_LIST
LTEXT S_TB_COMBINEBUTTONS, IDC_STATIC, 7, 69, 100, 10
COMBOBOX IDC_TB_COMBINEBUTTONS, 112, 66, 110, 14, CBS_LIST
LTEXT S_TB_TRAYWND, IDC_STATIC, 7, 85, 100, 10
PUSHBUTTON S_TB_TRAYWND_CUSTOMIZE, IDC_TB_TRAYWND, 112, 81, 50, 14
AUTOCHECKBOX S_TB_PEEK, IDC_TB_PEEK, 7, 99, 238, 20, BS_MULTILINE

GROUPBOX S_TB_MM, IDC_STATIC, 7, 125, 238, 92
AUTOCHECKBOX S_TB_ALLDISPLAYS, IDC_TB_ALLDISPLAYS, 13, 138, 200, 10
LTEXT S_TB_MMDISPLAYS, IDC_STATIC, 13, 153, 200, 10 
COMBOBOX IDC_TB_MMDISPLAYS, 13, 165, 170, 14, CBS_LIST
LTEXT S_TB_MMCOMBINEBUTTONS, IDC_STATIC, 13, 184, 200, 10
COMBOBOX IDC_TB_MMCOMBINEBUTTONS, 13, 196, 170, 14, CBS_LIST

CONTROL S_TB_HELPLINK, IDC_STATIC, WC_LINK, WS_TABSTOP, 7, 221, 256, 8

END

/* Start menu page if on Windows 10 */
IDD_10SM DIALOGEX 0, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_PAGE
CAPTION S_SM
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

AUTORADIOBUTTON "Windows 10 Start menu", IDC_SM_10STARTMENU,7, 5, PAGE_WIDTH - 100, 10, WS_GROUP
LTEXT "Uses the Windows 10 Start menu.", IDC_SM_10STARTMENU_TEXT, 20, 15, 140, 24
AUTORADIOBUTTON "Windows 8 Start screen", IDC_SM_STARTSCREEN,7, 35, PAGE_WIDTH - 100, 10, WS_GROUP
LTEXT "Uses a reimplementation of the Start screen from Windows 8.1.", IDC_SM_STARTSCREEN_TEXT, 20, 45, 140, 24

END

/* Start menu page if on Windows 11 */
IDD_11SM DIALOGEX 0, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_PAGE
CAPTION S_SM
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

AUTORADIOBUTTON "Windows 11 Start menu", IDC_SM_11STARTMENU,7, 5, PAGE_WIDTH - 100, 10, WS_GROUP
LTEXT "Uses the Windows 11 Start menu.", IDC_SM_11STARTMENU_TEXT, 20, 15, 140, 24
PUSHBUTTON S_TB_TRAYWND_CUSTOMIZE, IDC_SM_11STARTMENU_CUSTOMIZE, PAGE_WIDTH - 60, 4, 53, 14

AUTORADIOBUTTON "Windows 10 Start menu", IDC_SM_10STARTMENU,7, 35, PAGE_WIDTH - 100, 10, WS_GROUP
LTEXT "Uses the Windows 10 Start menu.", IDC_SM_10STARTMENU_TEXT, 20, 45, 140, 24
PUSHBUTTON S_TB_TRAYWND_CUSTOMIZE, IDC_SM_10STARTMENU_CUSTOMIZE, PAGE_WIDTH - 60, 34, 53, 14

AUTORADIOBUTTON "Windows 8 Start screen", IDC_SM_STARTSCREEN,7, 65, PAGE_WIDTH - 100, 10, WS_GROUP
LTEXT "Uses a reimplementation of the Start screen from Windows 8.1.", IDC_SM_STARTSCREEN_TEXT, 20, 75, 140, 24
PUSHBUTTON S_TB_TRAYWND_CUSTOMIZE, IDC_SM_STARTSCREEN_CUSTOMIZE, PAGE_WIDTH - 60, 64, 53, 14

END

/* Windows 10 Start Menu customize dialog */
IDC_SM_10DLG DIALOGEX 0, 0, 190, 119
STYLE DS_PAGE
CAPTION S_SM_10DLG
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

COMBOBOX IDC_SM_10DLG_MODE,7, 35, PAGE_WIDTH - 100, 10, CBS_LIST
PUSHBUTTON "OK", IDC_SM_OK_BUTTON, 50, 64, 53, 14

END

/* Notification Area page */
IDD_NA DIALOGEX 0, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_PAGE
CAPTION S_NA
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

GROUPBOX S_NA_ICON, IDC_STATIC, 6, 5, PAGE_WIDTH - 14, 58
LTEXT S_NA_ICON_TEXT, IDC_NA_ICON_TEXT, 13, 20, 223, 16
PUSHBUTTON S_TB_TRAYWND_CUSTOMIZE, IDC_TB_TRAYWND, 188, 42, 50, 14
	
END

/* Advanced page */
IDD_ADV DIALOGEX 0, 0, PAGE_WIDTH, PAGE_HEIGHT
STYLE DS_PAGE
CAPTION S_ADV
FONT DIALOG_FONTSIZE, DIALOG_FONTNAME
BEGIN

GROUPBOX S_ADV_PERFORMANCE, IDC_STATIC, 7, 5, PAGE_WIDTH - 14, 40
AUTOCHECKBOX S_ADV_ANIMATIONS, IDC_ADV_ANIMATIONS,
	13, 16, PAGE_WIDTH - 26, 10
AUTOCHECKBOX S_ADV_SAVETHUMBNAILS, IDC_ADV_SAVETHUMBNAILS,
	13, 30, PAGE_WIDTH - 26, 10

GROUPBOX S_ADV_NAVIGATION, IDC_STATIC, 7, 50, PAGE_WIDTH - 14, 32
AUTOCHECKBOX S_ADV_WINXPOWERSHELL, IDC_ADV_WINXPOWERSHELL,
	13, 61, PAGE_WIDTH - 26, 16, BS_MULTILINE

GROUPBOX S_ADV_MISC, IDC_STATIC, 7, 87, PAGE_WIDTH - 14, 40
AUTOCHECKBOX S_ADV_SHOWDESKTOP, IDC_ADV_SHOWDESKTOP,
	13, 98, PAGE_WIDTH - 26, 10
AUTOCHECKBOX S_ADV_TOGGLEAUTOHIDE, IDC_ADV_TOGGLEAUTOHIDE,
	13, 112, PAGE_WIDTH - 26, 10

LTEXT S_ADV_EXPLORERPATCHER_T, IDC_STATIC, 7, PAGE_HEIGHT - 30, PAGE_WIDTH - 14, 10
LTEXT S_ADV_RESTARTEXPLORER_T, IDC_STATIC, 7, PAGE_HEIGHT - 44, PAGE_WIDTH - 14, 10
CONTROL S_ADV_RESTARTEXPLORER, IDC_STATIC, WC_LINK, WS_TABSTOP,	7, PAGE_HEIGHT - 16, PAGE_WIDTH - 14, 10

END

STRINGTABLE
BEGIN
IDS_PROPSHEET_NAME  "Taskbar and Start Menu"
IDS_ERROR           S_ERROR
IDS_ERROR_GENERIC   S_ERROR_GENERIC
IDS_ERROR_MEM       S_ERROR_MEM
END

STRINGTABLE
BEGIN
IDS_TB_POS_L S_TB_POS_L
IDS_TB_POS_T S_TB_POS_T
IDS_TB_POS_R S_TB_POS_R
IDS_TB_POS_B S_TB_POS_B
IDS_TB_COMB_YES S_TB_COMB_YES
IDS_TB_COMB_FULL S_TB_COMB_FULL
IDS_TB_COMB_NO S_TB_COMB_NO
IDS_TB_MMALL S_TB_MMALL
IDS_TB_MMMAIN S_TB_MMMAIN
IDS_TB_MMCUR S_TB_MMCUR

IDS_SM_10DLG_MODE_DEFAULT S_SM_10DLG_MODE_DEFAULT
IDS_SM_10DLG_MODE_ROUNDED S_SM_10DLG_MODE_ROUNDED
IDS_SM_10DLG_MODE_FLOATING S_SM_10DLG_MODE_FLOATING
END
